.wrapper{
    width: 1280px;
}
/*задача 1*/
.trans{
    display: block;
    width: 200px;
    height: 100px;
    margin: 10px;
    border: 1px solid red;
}
.trans:hover{
    background-color: red;
    transition: 1.5s ease-out;
    transition-delay: 0.05s;
}
/*задача 2*/
.trans2{
    display: block;
    width: 200px;
    height: 100px;
    margin: 10px; 
    background-color: white;
    border: 1px solid red;
    color: red;
}
.trans2:hover{
    background-color: red;
    color: white;
    transition: all 1.5s linear;
}
/*задача 3*/
.trans3{
    display: block;
    width: 20%;
    height: 50px;
    margin: 10px; 
    background-color: white;
    border: 1px solid red;
    transform-origin: left;
}
.trans3:hover{
    transform: scaleX(4.5); 
    transition: transform 3s ease-in-out;
}
/*задача 4*/
.trans4{
    display: block;
    align-items: flex-start;
    width: 20%;
    height: 50px;
    margin: 10px; 
    background-color: white;
    border: 1px solid red;
    color: red;
}
.paragraf{
    transform-origin: left top;
    transform: scale(1);
}
.trans4:hover .paragraf{
    transform-origin: left top;
    transform: scale(2);
    transition: 2s ease-in-out;
}
.trans4:hover{
    width: 100%;
    transition: width 1s ease-out, font-size 1s ease-out;
}
/*задача 5*/
.trans5{
    display: block;
    width: 20%;
    height: 50px;
    margin: 10px; 
    background-color: white;
    border: 1px solid red;
    
}
.trans5:hover{
    transform: scaleX(4);
    transition: transform 2s ease-out;
    transform-origin: -50px 0;
}
/*задача 6*/
.trans6{
    display: block;
    width: 300px;
    height: 50px;
    margin: 10px; 
    background-color: white;
    border: 1px solid red;
    color: black;
}
.trans6 p{
    transform: translateX(1400px);
    width: 100px;
}
.trans6:hover p{
    transform-origin: center;
    transform: translateX(100px);
    transition: transform 1s linear;
}
/*задача 7*/
.trans7{
    display: block;
    width: 20%;
    height: 50px;
    margin: 10px; 
    background-color: white;
    border: 1px solid red;
    transform-origin: left;
}
.trans7:hover{
    transform: scaleX(4); 
    transition: transform 3s ease-in-out;
    transition-delay: 3s;
}
/*задача 8*/
input{
    width: 200px;
    height: 30px;
    margin: 10px;
    display: block;
    text-align: left;
    transform-origin: left;
}
input:focus{
    border-color: #fff;
    box-shadow: 0 0 1px gray;
    transform: scaleX(2);
    transition: transform 1.5s ease-in-out;
}
